.hotel__container {
  background-color: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 0px 2px 0px;
  margin-bottom: 16px;
}

.hotel__container img {
  height: auto;
  width: 100%;
}

.hotel__info {
  padding: 16px;
}

.hotel__info h1 {
  font-size: 20px;
  line-height: 1.2;
}

.hotel__stars {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}

.hotel__star {
  color: #d8d8d8;
  font-size: 20px;
}

.hotel__star--active {
  color: #ff8300;
  font-size: 20px;
}
