.hotel__container {
  background-color: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 0px 2px 0px;
  margin-bottom: 32px;
  position: relative;
}

.hotel__bookmark {
  color: white;
  font-size: 24px;
  position: absolute;
  right: 8px;
  top: 8px;
}

.hotel__bookmark--active {
  color: red;
}

.hotel__container img {
  height: auto;
  width: 100%;
}

.hotel__info {
  padding: 16px;
}

.hotel__info h1 {
  font-size: 20px;
  line-height: 1.2;
}

.hotel__stars {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}

.hotel__star {
  color: #d8d8d8;
  font-size: 20px;
}

.hotel__star--active {
  color: #ff8300;
  font-size: 20px;
}

.hotel__location {
  color: #2d8beb;
  margin-bottom: 4px;
}

.hotel__location i {
  margin-right: 8px;
}

.hotel__guestRating {
  font-weight: 500;
  margin-bottom: 16px;
}

.hotel__guestRating i {
  margin-right: 8px;
}

.hotel__tags {
  display: flex;
  flex-wrap: wrap;
}

.hotel__tag {
  background-color: #eee;
  border-radius: 16px;
  font-size: 14px;
  margin: 0 4px 4px 0;
  padding: 8px 16px;
}

.hotel__dealsContainer {
  border-top: 1px solid rgb(216, 216, 216);
}

.hotel__deal {
  align-items: center;
  border-top: 1px solid rgb(216, 216, 216);
  color: #555;
  display: flex;
  font-size: 14px;
  padding: 8px 16px;
}

.hotel__dealValueContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: 16px;
}

.hotel__dealValue {
  color: red;
  text-decoration: line-through;
}

.hotel__dealFinalValue {
  font-size: 18px;
  font-weight: 700;
}

.hotel__deal a {
  align-items: center;
  background-color: #2d8beb;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.hotel__deal a span {
  display: block;
  margin-left: 8px;
}
