.distribution__container {
  align-items: flex-end;
  bottom: 23px;
  display: flex;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;
}

.distribution__item {
  background-color: #e6e6e6;
  width: 10%;
}
