.main__container {
  background-color: #f4f4f4;
  min-height: calc(100vh - 56px);
  padding: 8px;
}

.main__buttonArea {
  margin: 16px 0;
}

.main__button {
  align-items: center;
  background-color: white;
  border: 1px solid rgb(216, 216, 216);
  color: #2d8beb;
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding: 6px 22px;
}
