.filter__container {
  background-color: white;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  width: 100%;
}

.filter__opened {
  transform: translate3d(0, 0, 0);
}

.filter__closed {
  transform: translate3d(-100%, 0, 0);
}

.filter__listContainer {
  margin: 16px 16px 32px;
}

.filter__listContainer p {
  color: #555;
  font-weight: 500;
  margin-bottom: 8px;
}

.filter__listActions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.filter__buttons {
  bottom: 0;
  border-top: 1px solid #d8d8d8;
  display: flex;
  left: 0;
  justify-content: center;
  padding: 16px;
  position: absolute;
  width: 100%;
}

.filter__button {
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  color: rgb(100, 98, 98);
  font-size: 16px;
  font-weight: 700;
  padding: 11px 22px;
  width: 50%;
}

.filter__button--main {
  background-color: #ff8300;
  color: white;
}
