.guest__button {
  align-items: center;
  background-color: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 0.2rem;
  color: #c4c4c4;
  display: flex;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  width: 17%;
}

.guest__button--active {
  background-color: #2d8beb;
  border: none;
  color: white;
}
